.flexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-spinner {
  margin: 100px auto;
}

@media (max-width: 599px) {
  .flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
