<div class="container">
  <button mat-raised-button color="accent" [routerLink]="['/admin-project-form']">Add Project</button>
  <br>
  <br>

  <div class="form-container mat-elevation-z8">
    <div class="header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Project Column -->
      <ng-container matColumnDef="project">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Project </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a class="btn" mat-raised-button color="primary" [routerLink]="['/admin-projects/' + element.id]">Edit</a>
        </mat-cell>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="btn" mat-raised-button color="warn" (click)="deleteProject(element.id)">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

  <!--<mat-spinner *ngIf="isLoading"></mat-spinner>-->
</div>
