<div class="container" fxFlex fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z8 card-about">
    <mat-card-header class="card-header">
      <img mat-card-avatar src="../../assets/images/CVpic.JPG" class="mat-elevation-z6"/>
    </mat-card-header>
    <mat-card-content>
      <p>My name is Kaloian Ianev and I am proud to call myself a javascript enthusiast.</p>
      <p>My interest in programming is in the field of fullstack web development,
      I am currently concentrated on JavaScript, HTML, CSS, frameworks like Angular, React, on the backend I have some
        experience with NodeJS, Firebase, Heroku. For further details please check my <a routerLink="/skills">skills</a> page.</p>
      <p> I am strongly motivated to find projects, job opportunities, where I can express my gained skills. You could contact me through
        the <a routerLink="/contact">contact</a> form.</p>
    </mat-card-content>
  </mat-card>
</div>
