@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.container {
  margin: 20px;
}
