mat-toolbar {
  margin-bottom: 20px;
}

.navigation-routes {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  padding-right: 50px;
  padding-left: 20px;
}

li a, div a {
  text-decoration: none;
  color: white;
}

div a {
  margin-right: 10px;
}

li a:hover, div a:hover  {
  color: lightskyblue;
}

@media (max-width: 750px) {
  mat-toolbar {
    font-size: 16px;
  }
}
