<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onSidenavToggle()"><mat-icon>menu</mat-icon></button>
  </div>
  <div class="logo"><a routerLink="/">JS Projects</a></div>
  <div fxFlex fxHide.xs>
    <ul fxLayout  fxLayoutGap="20px" class="navigation-routes">
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/about">About Me</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <a *ngIf="!authService.isAuthenticated()" routerLink="/admin-login">Admin Area</a>
    <a *ngIf="authService.isAuthenticated()" (click)="onLogout()" routerLink="/">Logout</a>
  </div>
</mat-toolbar>
