mat-toolbar {
  margin-bottom: 20px;
}

.navigation-routes {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  padding-right: 50px;
  padding-left: 20px;
}

li a, div a {
  text-decoration: none;
  color: white;
}

li a:hover, div a:hover  {
  color: lightskyblue;
}
