<div class="skills">
  <br>
  <label for="node">Node JS</label>
  <mat-progress-bar id="node" mode="determinate" value="65"></mat-progress-bar>
  <br>
  <label for="express">Express JS</label>
  <mat-progress-bar id="express" mode="determinate" value="65"></mat-progress-bar>
  <br>
  <label for="firebase">Firebase</label>
  <mat-progress-bar id="firebase" mode="determinate" value="75"></mat-progress-bar>
  <br>
  <label for="heroku">Heroku</label>
  <mat-progress-bar id="heroku" mode="determinate" value="40"></mat-progress-bar>
  <br>
  <label for="mongo">MongoDB</label>
  <mat-progress-bar id="mongo" mode="determinate" value="50"></mat-progress-bar>
  <br>
  <label for="sql">SQL</label>
  <mat-progress-bar id="sql" mode="determinate" value="30"></mat-progress-bar>
</div>
