<div class="container" fxFlex fxLayoutAlign="center center" *ngIf="projectFetched">
  <form class="inputForm" fxFlex fxLayout="column" (ngSubmit)="onEditProject(f)" #f="ngForm">
    <mat-form-field>
      <input matInput placeholder="Title" name="title" [(ngModel)]="project.title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" name="description" [(ngModel)]="project.description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Live Link" name="liveLink" [(ngModel)]="project.liveLink">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Github Link" name="githubLink" [(ngModel)]="project.githubLink">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="imageUrl" name="imageUrl" [(ngModel)]="project.imageUrl">
    </mat-form-field>
    <br>
    <button type="button" mat-raised-button (click)="imgFileInput.click()">Change Screenshot</button>
    <input hidden type="file" #imgFileInput (change)="uploadImage($event)"/>
    <mat-progress-bar mode="indeterminate" *ngIf="uploadService.uploadDone()"></mat-progress-bar>
    <br>
    <button mat-raised-button color="accent" type="submit" [disabled]="uploadService.uploadDone()">Save</button>
  </form>
</div>
<mat-spinner *ngIf="!projectFetched"></mat-spinner>



